# Dependencies
node_modules

# Build artifacts
dist
server/public
*.tar.gz

# OS-specific files
.DS_Store

# Tooling caches
vite.config.ts.*

# Environment secrets
.env
.env.local
.env.*
*.env
*.env.*
!.env.example
